<nav class="navbar navbar-light" style="display: block; padding-right: 5%; padding-left: 5%; background-color: azure;">
    <h3><b> <a class="navbar-brand" routerLink="/leads">Leads <span class="sr-only"></span></a>
     <a class="navbar-brand" routerLink="/data">Data</a><span class="sr-only">(current)</span>
     <a class="navbar-brand" routerLink="/demo1">Demo1 <span class="sr-only"></span></a>
     <a class="navbar-brand" routerLink="/demo2">Category</a><span class="sr-only">(current)</span>
     <a class="navbar-brand" routerLink="/product">Product</a><span class="sr-only">(current)</span></b></h3>
     <button class="btn btn-danger" type="button"  routerLink="/login" (click)="logout()" style="float:right;">Log Out</button>
</nav>
<p>product works!</p>
