<h3><b><p style="display: flex; justify-content: center;">EDIT DATA</p></b></h3>
<div [formGroup]="editdata" style="display:block;"> 
<div class="form-group" style="display:block;">
    <input type="text" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" class="form-control" placeholder="Name" formControlName="name" id="name">
    <div *ngIf="editdata.controls['name'].invalid && editdata.controls['name'].touched" class="alert alert-danger">
        Name is required
    </div>
    <br>
    <input type="email"  class="form-control" placeholder="Email" formControlName="email" id="email">
    <div *ngIf="editdata.controls['email'].invalid && editdata.controls['email'].touched" class="alert alert-danger">
        Email is required
    </div>
    <br>
    <input type="text" class="form-control" formControlName="gender" id="gender" [ngClass]="{'genderDisabled': genderDisabled}">
    <br>
    <input type="text" pattern="[1-9]{1}[0-9]{9}" maxLength="10" class="form-control" placeholder="Mobile No" formControlName="phone" id="phone">
    <div *ngIf="editdata.controls['phone'].invalid && editdata.controls['phone'].touched" class="alert alert-danger">
        Mobile Number is required
    </div>
    <br>
    <button class="btn btn-primary"  type="button" style="width: 20%;" (click)="submitdata()">Submit</button>
  </div>
  </div>