<nav class="navbar navbar-light" style="display: block; padding-right: 5%; padding-left: 5%; background-color: azure;">
      <h3><b> <a class="navbar-brand" routerLink="/leads">Leads <span class="sr-only"></span></a>
       <a class="navbar-brand" routerLink="/data">Data</a><span class="sr-only">(current)</span>
       <a class="navbar-brand" routerLink="/demo1">Demo1 <span class="sr-only"></span></a>
       <a class="navbar-brand" routerLink="/demo2">Category</a><span class="sr-only">(current)</span>
       <a class="navbar-brand" routerLink="/product">Product</a><span class="sr-only">(current)</span></b></h3>
       <button class="btn btn-danger" type="button"  routerLink="/login" (click)="logout()" style="float:right;">Log Out</button>
  </nav>
  <mat-form-field appearance="standard" style="padding-left: 10%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <h3 style="display:block; justify-content: center; padding-left: 5%; padding-right: 5%;">
<div class="mat-elevation-z8">
   <table mat-table [dataSource]="dataSource"  matSort style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let data"> {{data.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let data"> {{data.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let data"> {{data.email}} </td>
    </ng-container>                                                                                                 
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let data"> {{data.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let data"> {{data.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="editform">
      <th mat-header-cell *matHeaderCellDef> Edit Data </th>
      <td mat-cell *matCellDef="let data"> <button class="btn btn-primary" type="button" style="width: 35%;" (click)="openDialog(data)">Edit Data</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons 
                 aria-label="Select page">
  </mat-paginator>
</div>
</h3>
<div style="padding-left:50%; padding-top: 10%;">
  <div *ngFor="let item of itemarray">
    {{item}}
  </div>
  <div *ngFor="let items of array1">
    {{items}}
  </div>
  </div>
  <br><br>
<div class="col-md-6" style="padding-left: 10%; padding-bottom: 10%;">
  <b><h2 appColor>MY DIRECTIVE</h2></b></div>
  <div class="col-md-6" style="padding-left: 10%; padding-bottom: 10%; padding-top: 5%;">
  <p>{{longText | custom:50 }}</p>
  </div>

 
 
  