<nav class="navbar navbar-light" style="display: block; padding-right: 5%; padding-left: 5%; background-color: azure;">
     <h3><b> <a class="navbar-brand" routerLink="/leads">Leads <span class="sr-only">(current)</span></a>
      <a class="navbar-brand" routerLink="/data">Data</a>
      <a class="navbar-brand" routerLink="/demo1">Demo1 <span class="sr-only"></span></a>
      <a class="navbar-brand" routerLink="/demo2">Category</a><span class="sr-only">(current)</span>
      <a class="navbar-brand" routerLink="/product">Product</a><span class="sr-only">(current)</span></b></h3>
     <button class="btn btn-danger" type="button"  routerLink="/login" (click)="logout()" style="float:right;">Log Out</button>
 </nav>
 <div class="datadisplay">
<div class="addlead" style="float:right; padding-right: 5%;">
    <button class="btn btn-primary" type="button" style="width: 100%;" (click)="openDialog()">Add New Lead</button>
</div>
<h3 style="display:block; justify-content: center; padding-left: 5%; padding-right: 5%;">
    <label style="padding-left: 0%;">Total Records:</label>&nbsp; {{myData?.data.TotalRecords}}
    <br>
          <div *ngFor="let item of itemarray">
            {{item}}
          </div>
    <br><br>
        <table class="table table-bordered table-hover">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Mobile Number</th>
               </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of myData?.data?.Leads; let i = index">
                   <td>{{ data?.LeadName }}</td>
                   <td>{{ data?.MobileNo }}</td>
                </tr>
             </tbody>
          </table>
</h3>
</div>

